
.header{
  margin-left: 1rem;
   padding: .5rem;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 3rem;
    gap: 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    /* border: 1px solid black; */
   }
   
.headerLeft{
     height: 100%;
     /* border: 1px solid black; */
     width: 15rem;
     display: flex;
     flex-direction: row;
     
  
   }
   
   
.headerMiddle{
     height: 100%;
     width: 40%;
     display: flex;
     flex-direction: row;
     border-radius: 4rem;
  
   }
   
.headerRight{
     width: 15rem;
     height: 100%;
     /* border: 1px solid black; */

     display: flex;
     flex-direction: row;
   }

.hamburgerContainer{
  padding: .2rem;
  height: 100%;
  width: 20%;
  background-color: white;
}

.logoContainer{
  height: 100%;
  width: 80%;
  background-color: white;
}

.hamburger{
  height: 95%;
  width: 4rem;
  margin-left: -.7rem;
  /* border: 1px solid black; */

}

.hamburger:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.youtube{
  height: 100%;
  width: 10rem;
  margin-top: .3rem;
  margin-left: -.2rem;
}

.youtube:hover{
  cursor: pointer;
}

.inputBox{
  height: 100%;
  /* border: 1px solid black; */
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  width: 95%;
}

.searchContainer{
  height: 100%;
  /* border: 1px solid black; */
 border-top-right-radius: 4rem;
 border-bottom-right-radius: 4rem;
  width: 8%;

}

.searchBox{
  font-size: 1.2rem;
  height: 82%;
  width: 99%;
  overflow: hidden;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}
.search{
  height: 90%;
  width: 2.5rem;
  overflow: hidden;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border: 1.2px solid black;
  
}
.icon{
  height: 100%;
  width: 25%;
  /* border: 1px solid black; */
}
.mic{
  margin-top: .3rem;
  height: 55%;
  width: 60%;
  padding: .4rem;
  margin-left: .5rem;
}

.camera{
  height: 100%;
  width: 100%;
}

.bell{
  margin-top: .2rem;
  height: 85%;
  width: 90%;
}

.profile{
  height: 75%;
  width: 70%;
  margin-left: -.3rem;
  margin-top: .35rem;
}

.mic:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.camera:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.bell:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.profile:hover{
  background-color: lightgrey;
  cursor: pointer;
}